<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>ユーザー追加画面</title>
</head>
<body>
	<h1>ユーザー追加画面</h1>
	<form th:action="@{insert}" th:object="${userInsertForm}" method="post">
		<table>
			<tr>
				<th>
					<label>ユーザー名</label>
				</th>
				<td>
					<input type="text" th:field="*{userName}" />
				</td>
			</tr>
			<tr>
				<th>
					<label>メールアドレス</label>
				</th>
				<td>
					<input type="text" th:field="*{email}" />
				</td>
			</tr>
		</table>
		<input type="submit"/>
	</form>
	<div th:if="${msg} != null">
		<p th:text="${msg}"></p>
	</div>
	<div>
		<a th:href="@{../../userList/init}">ユーザー一覧画面</a>
	</div>
</body>
</html>